<app-section>
  <div app-section-header-slot>
    <h1>Header 1</h1>
  </div>
  <div app-section-content-slot>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut commodo elit justo, et pharetra dolor hendrerit a.
      Mauris elementum massa at suscipit suscipit. Donec justo massa, iaculis non tincidunt at, pulvinar vitae elit.
      Praesent vitae rhoncus libero. Sed id condimentum nunc, iaculis tempor nibh. Morbi finibus scelerisque sem sed
      congue. Fusce maximus lacus venenatis justo porttitor porttitor a in massa. Maecenas egestas dui vel sem pulvinar
      ornare. Aliquam erat volutpat.</p>

    <p>Suspendisse potenti. Cras non congue purus. Nulla malesuada metus ac mattis efficitur. Vestibulum eleifend vitae
      ex a tincidunt. Nunc id elit dui. Integer at orci quis lectus pulvinar malesuada. Quisque est quam, hendrerit in
      nunc vel, rhoncus consequat velit. Phasellus id ante at nisi semper aliquet. Vestibulum ac dui quis mi porta
      luctus. Duis sed vestibulum ligula, eu faucibus neque.</p>
  </div>
</app-section>
<app-section class="mb-2">
  <div app-section-header-slot>
    <h1>Header 2</h1>
  </div>
  <div app-section-content-slot>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut commodo elit justo, et pharetra dolor hendrerit a.
      Mauris elementum massa at suscipit suscipit. Donec justo massa, iaculis non tincidunt at, pulvinar vitae elit.
      Praesent vitae rhoncus libero. Sed id condimentum nunc, iaculis tempor nibh. Morbi finibus scelerisque sem sed
      congue. Fusce maximus lacus venenatis justo porttitor porttitor a in massa. Maecenas egestas dui vel sem pulvinar
      ornare. Aliquam erat volutpat.</p>

    <p>Suspendisse potenti. Cras non congue purus. Nulla malesuada metus ac mattis efficitur. Vestibulum eleifend vitae
      ex a tincidunt. Nunc id elit dui. Integer at orci quis lectus pulvinar malesuada. Quisque est quam, hendrerit in
      nunc vel, rhoncus consequat velit. Phasellus id ante at nisi semper aliquet. Vestibulum ac dui quis mi porta
      luctus. Duis sed vestibulum ligula, eu faucibus neque.</p>
  </div>
</app-section>
<app-section class="mb-2">
  <div app-section-header-slot>
    <h1>Header 7</h1>
  </div>
  <div app-section-content-slot>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut commodo elit justo, et pharetra dolor hendrerit a.
      Mauris elementum massa at suscipit suscipit. Donec justo massa, iaculis non tincidunt at, pulvinar vitae elit.
      Praesent vitae rhoncus libero. Sed id condimentum nunc, iaculis tempor nibh. Morbi finibus scelerisque sem sed
      congue. Fusce maximus lacus venenatis justo porttitor porttitor a in massa. Maecenas egestas dui vel sem pulvinar
      ornare. Aliquam erat volutpat.</p>

    <p>Suspendisse potenti. Cras non congue purus. Nulla malesuada metus ac mattis efficitur. Vestibulum eleifend vitae
      ex a tincidunt. Nunc id elit dui. Integer at orci quis lectus pulvinar malesuada. Quisque est quam, hendrerit in
      nunc vel, rhoncus consequat velit. Phasellus id ante at nisi semper aliquet. Vestibulum ac dui quis mi porta
      luctus. Duis sed vestibulum ligula, eu faucibus neque.</p>
  </div>
</app-section>
