@import "src/assets/styles/variables";

:host {
  display: block;
}

.app-computation-unit {
  display: flex;
  justify-content: space-around;
  flex-direction: row;


  &__container {
    background-color: white;
    border: 2px solid gray;
    border-radius: 3 * $mainsize;
    width: 100%;
    height: fit-content;
    margin: $mainsize;
    padding: 2 * $mainsize;
    cursor: pointer;

    &:hover {
      border: 2px solid transparent;
    }

    &__highlight {
      background-color: yellow;
    }
  }
}
