<div *ngIf="!_isNew; else newAppForm">
  <img
      [src]="_app?.iconURL"
      alt="App's Image"
      class="app-application__image"
    >
  <h1>App id: {{ _app?.id }}</h1>
  <h1>Name: {{ _app?.name }}</h1>
  <h1>Version: {{ _app?.version }}</h1>
  <h1>Price: {{ _app?.price }}</h1>
</div>

<ng-template #newAppForm>
  <form
    [formGroup]="checkoutForm"
    (ngSubmit)="onSubmit(checkoutForm.value, $event)"
    class="form-group"
  >

    <div class="divForm">
      <label class="labelForm" for="version">
        version
      </label>
      <input class="inputForm" id="version" type="number" formControlName="version">
    </div>

    <div class="divForm">
      <label class="labelForm" for="name">
        name
      </label>
      <input class="inputForm" id="name" type="text" formControlName="name">
    </div>

    <div class="divForm">
      <label class="labelForm" for="applicationDiagramId">
        applicationDiagramId
      </label>
      <input class="inputForm" id="applicationDiagramId" type="text" formControlName="applicationDiagramId">
    </div>

    <div class="divForm">
      <label class="labelForm" for="price">
        price
      </label>
      <input class="inputForm" id="price" type="number" formControlName="price">
    </div>

    <div class="divForm">
      <label class="labelForm" for="iconURL">
        iconURL
      </label>
      <input class="inputForm" id="iconURL" type="text" formControlName="iconURL">
    </div>

    <div class="divForm">
      <label class="labelForm" for="inputDataFormatDescription">
        inputDataFormatDescription
      </label>
      <input class="inputForm" id="inputDataFormatDescription" type="text" formControlName="inputDataFormatDescription">
    </div>

    <div class="divForm">
      <label class="labelForm" for="outputDataFormatDescription">
        outputDataFormatDescription
      </label>
      <input class="inputForm" id="outputDataFormatDescription" type="text" formControlName="outputDataFormatDescription">
    </div>

    <button [disabled]="checkoutForm.invalid" class="button" type="submit" class="btn btn-primary">Add</button>

  </form>
</ng-template>
