<div *ngIf="!_isNew; else newAppForm">
  <h1>App id: {{ _id }}</h1>
</div>

<ng-template #newAppForm>
  <form
    [formGroup]="checkoutForm"
    (ngSubmit)="onSubmit(checkoutForm.value, $event)"
    class="form-group"
  >

    <div class="divForm">
      <label class="labelForm" for="name">
        version
      </label>
      <input class="inputForm" id="name" type="number" formControlName="version">
    </div>

    <div class="divForm">
      <label class="labelForm" for="cpuCoreCount">
        name
      </label>
      <input class="inputForm" id="cpuCoreCount" type="text" formControlName="name">
    </div>

    <div class="divForm">
      <label class="labelForm" for="cpuClockSpeedInGHz">
        executionDiagram
      </label>
      <input class="inputForm" id="cpuClockSpeedInGHz" type="text" formControlName="executionDiagram">
    </div>

    <div class="divForm">
      <label class="labelForm" for="ramInGB">
        price
      </label>
      <input class="inputForm" id="ramInGB" type="number" formControlName="price">
    </div>

    <div class="divForm">
      <label class="labelForm" for="gpuCoreClocksInGHz">
        iconURL
      </label>
      <input class="inputForm" id="gpuCoreClocksInGHz" type="text" formControlName="iconURL">
    </div>

    <div class="divForm">
      <label class="labelForm" for="inUse">
        inputDataFormatDescription
      </label>
      <input class="inputForm" id="inUse" type="text" formControlName="inputDataFormatDescription">
    </div>

    <div class="divForm">
      <label class="labelForm" for="duringDeactivation">
        outputDataFormatDescription
      </label>
      <input class="inputForm" id="duringDeactivation" type="text" formControlName="outputDataFormatDescription">
    </div>

    <button [disabled]="checkoutForm.invalid" class="button" type="submit" class="btn btn-primary">Add</button>

  </form>
</ng-template>
