.myDiagramDiv {
  background: whitesmoke;
  width: 1000px;
  height: 500px;
  border: 1px solid black;
}

.left {
  padding: 5px;
  margin: 5px;
}

.box {
  border: solid 1px black;
  background: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.clear {
  clear: both;
}

.btn{
  margin-right: 5px;
  margin-bottom: 5px;
}