<div *ngIf="!_isNew; else newClusterForm">
  <h1>Cluster id: {{ _id }}</h1>
  <h1>Cluster name: {{ _cluster?.name || 'unknown' }}</h1>
</div>

<ng-template #newClusterForm>
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value, $event)" class="form-group">

    <div class="divForm">
      <label class="labelForm" for="name">
        Name
      </label>
      <input class="inputForm" id="name" type="text" formControlName="name">
    </div>

    <div class="divForm">
      <label class="labelForm" for="cpuCoreCount">
        cpuCoreCount
      </label>
      <input class="inputForm" id="cpuCoreCount" type="number" formControlName="cpuCoreCount">
    </div>

    <div class="divForm">
      <label class="labelForm" for="cpuClockSpeedInGHz">
        cpuClockSpeedInGHz
      </label>
      <input class="inputForm" id="cpuClockSpeedInGHz" type="number" formControlName="cpuClockSpeedInGHz">
    </div>

    <div class="divForm">
      <label class="labelForm" for="ramInGB">
        ramInGB
      </label>
      <input class="inputForm" id="ramInGB" type="number" formControlName="ramInGB">
    </div>

    <div class="divForm">
      <label class="labelForm" for="gpuCoreClocksInGHz">
        gpuCoreClocksInGHz
      </label>
      <input class="inputForm" id="gpuCoreClocksInGHz" type="number" formControlName="gpuCoreClocksInGHz">
    </div>

    <div class="divForm">
      <label class="labelForm" for="cpuUtilization">
        cpuUtilization
      </label>
      <input class="inputForm" id="cpuUtilization" type="number" formControlName="cpuUtilization">
    </div>

    <div class="divForm">
      <label class="labelForm" for="duringDeactivation">
        duringDeactivation
      </label>
      <input class="inputForm" id="duringDeactivation" type="checkbox" formControlName="duringDeactivation">
    </div>

    <div class="divForm">
      <label class="labelForm" for="gpuUtilization">
        gpuUtilization
      </label>
      <input class="inputForm" id="gpuUtilization" type="number" formControlName="gpuUtilization">
    </div>

    <button [disabled]="checkoutForm.invalid" class="button" type="submit" class="btn btn-primary">Add</button>

  </form>
</ng-template>
